[Unit]
Description=RClone mount of users remote %i using filesystem permissions
Documentation=http://rclone.org/docs/
After=network-online.target

[Service]
Type=simple

Environment=REMOTE_NAME="%i"
Environment=REMOTE_PATH="/"
Environment=MOUNT_DIR="%h/%i"
Environment=POST_MOUNT_SCRIPT="/usr/bin/rclone rc vfs/refresh recursive=true _async=true"

#Check that rclone is installed
ExecStartPre=/usr/bin/test -x /usr/bin/rclone
#Check the mount directory
ExecStartPre=/usr/bin/test -d ${MOUNT_DIR}
ExecStartPre=/usr/bin/test -w ${MOUNT_DIR}

#Mount rclone fs
ExecStart=/usr/bin/rclone mount \
		--dir-cache-time 720h \
		--poll-interval 30s \
		--buffer-size 1M \
		--vfs-cache-mode full \
		--vfs-cache-max-age 1h \
		--vfs-read-chunk-size 1M \
		--vfs-read-chunk-size-limit 1G \
		--vfs-read-ahead 32M \
		--use-mmap \
		--vfs-fast-fingerprint \
		# --no-modtime \
		# --write-back-cache \
		# --allow-other \
		# --no-traverse \
		${REMOTE_NAME}:${REMOTE_PATH} ${MOUNT_DIR}

#Execute Post Mount Script if specified
ExecStartPost=/bin/sh -c ${POST_MOUNT_SCRIPT}

# Perform lazy unmount
ExecStop=/usr/bin/fusermount -zu ${MOUNT_DIR}

# Restart the service whenever rclone exists with non-zero exit code
Restart=on-failure
RestartSec=15

[Install]
# Autostart after reboot
WantedBy=default.target