[Unit]
Description=RClone mount of users remote %i using filesystem permissions
Documentation=http://rclone.org/docs/
After=network-online.target

[Service]
Type=simple

Environment=REMOTE_NAME="%i"
Environment=REMOTE_PATH="/"
Environment=MOUNT_DIR="%h/%i"
Environment=POST_MOUNT_SCRIPT=""

#Check that rclone is installed
ExecStartPre=/usr/bin/test -x /usr/bin/rclone
#Check the mount directory
ExecStartPre=/usr/bin/test -d ${MOUNT_DIR}
ExecStartPre=/usr/bin/test -w ${MOUNT_DIR}

#Mount rclone fs
ExecStart=/usr/bin/rclone mount \
		--dir-cache-time 720h \
		--poll-interval 30s \
		--buffer-size 2M \
		--vfs-cache-mode writes \
		--poll-interval 30s \
		--buffer-size 2M \
		--vfs-cache-mode writes \
		--vfs-cache-max-age 1h \
		--vfs-read-chunk-size 128K \
		--vfs-read-chunk-size-limit 2M \
		--vfs-read-ahead 16M \
		--max-read-ahead 1M \
		--no-checksum \
		--ignore-size \
		--use-mmap \
		--vfs-fast-fingerprint \
		${REMOTE_NAME}:${REMOTE_PATH} ${MOUNT_DIR}

#Execute Post Mount Script if specified
ExecStartPost=/bin/sh -c ${POST_MOUNT_SCRIPT}

# Perform lazy unmount
ExecStop=/usr/bin/fusermount -zu ${MOUNT_DIR}

# Restart the service whenever rclone exists with non-zero exit code
Restart=on-failure
RestartSec=15

[Install]
# Autostart after reboot
WantedBy=default.target