[Unit]
Description=BoxSync (rclone)
AssertPathIsDirectory=%h/BoxSync
# Make sure we have network enabled
After=network.target

[Service]
Type=simple

ExecStart=/usr/bin/rclone --vfs-cache-mode full --vfs-cache-max-age 720h0m0s mount BoxSync: %h/BoxSync

# Perform lazy unmount
ExecStop=/usr/bin/fusermount -zu %h/BoxSync

# Restart the service whenever rclone exists with non-zero exit code
Restart=on-failure
RestartSec=15

[Install]
# Autostart after reboot
WantedBy=default.target
